<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <button class="mdl-mini-footer__social-btn social-btn social-btn__instagram" onclick="window.open('https://www.instagram.com/tamarao94/')">
      <span class="visuallyhidden">Instagram</span>
    </button>
    <button class="mdl-mini-footer__social-btn social-btn social-btn__twitter" onclick="window.open('https://twitter.com/robinitasbird')">
      <span class="visuallyhidden">Twitter</span>
    </button>
  </div>
  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <li>Copyright 2019 Cameron Devine</li>
      {% if page.title == "Allergies" %}
        <li>Icons designed by Freepik from Flaticon</li>
      {% endif %}
    </ul>
  </div>
</footer>
