.social-btn {
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.46;
  border-radius: 2px;
}
.social-btn__twitter {
  background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_twitter_black_24dp.png');
}
.social-btn__instagram {
  background-image: url('http://tamara-v2.s3-website-us-west-2.amazonaws.com/icons/instagram.png')
}
